@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
}

h1 {
  font-size: 70px;
  font-weight: 900;
}
p {
  font-weight: 700;
}

body::before {
  content: "";
  background: linear-gradient(
    180deg,
    #000000 0%,
    rgba(0, 0, 0, 0) 22.74%,
    rgba(74, 74, 74, 0) 40.43%,
    #000000 100%
  );

  background-size: cover;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  /* z-index: 10; */
}

body {
  background: url("https://gmedia.playstation.com/is/image/SIEPDC/playstation-wallpapers-persona-5-royal-desktop-wallpaper-01-ps4-27mar20-en-us?$1600px$");
  background-size: cover;
  background-size: cover;
  font-family: "Inter", sans-serif;

  color: #222;
  overflow-x: hidden;
  margin: 0;
  z-index: -1;
}

.container {
  background-color: #000000;
  transform-origin: top left;
  transition: transform 0.5s ease-in-out;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-20deg);
  background-color: rgba(255, 255, 255, 0.95);
  transition: 0.5s ease-in-out;
}

.circle_container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #000000;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: none;
  font-size: 26px;
  color: white;
  /* z-index: 100; */
}

/* .circle button:focus {
  outline: none;
} */

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: aliceblue;
  margin: 40px 0;
  transform: translateX(-130%);
  transition: transform 0.4s ease-in-out;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}
