@import url("https://fonts.googleapis.com/css2?family= Inter: wght @400;700 & display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #e6e6e6;
  font-family: "Inter", sans-serif;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  /* background-color: aquamarine; */
  display: flex;
  width: 90vw;
  max-width: 1440px;
}

.panel {
  display: flex;
  flex-direction: column;
  background-size: cover;
  /* background-size: auto 100%; */
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  flex: 1;
  margin: 8px;
  position: relative;
  transition: flex 0.3s ease-in;
}

.panel h3 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  backdrop-filter: blur(100px);
  padding: 10px;
  font-size: 1px;
  /* position: absolute; */
  /* bottom: 20px; */
  /* left: 20px; */
  margin: 0;
  opacity: 0;
  border-radius: 0 0 4px 4px;
}

.panel a {
  /* background-color: aquamarine; */
  /* display: block; */
  width: 100%;
  height: 100%;
  /* height: 100%; */
}

.panel.active {
  flex: 8;
}

.panel.active h3 {
  font-size: 18px;
  opacity: 1;
  transition: opacity 0.4s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .panel {
    margin: 5px;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
